@import url('https://fonts.googleapis.com/css?family=Cormorant:700');
@import './mixins';

$default-bg-colour: #ffd89b;
$black: #000;
$blue: rgba(25, 84, 123, .6);
$yellow: rgba(255, 216, 155, .6);

$font-headings: 'Cormorant', serif;
$font-body: 'Lato', sans-serif;

html,
body {
  height: 100%;
  width: 100%;
}

.container-fluid {
  background: $default-bg-colour;
  background: -webkit-linear-gradient(to right, $blue, $yellow), url('http://lorempixel.com/g/1200/800/') no-repeat;
  background: linear-gradient(to right, $blue, $yellow), url('http://lorempixel.com/g/1200/800/') no-repeat;
  background-position: 50% 50%;
  height: 100%;
  width: 100%;
}

.wrapper {
  align-content: center;
  display: flex;
  justify-content: center;
}

.content {
  color: $black;
  font-family: 'Cormorant', serif;
  height: 100%;
  overflow: auto;
  padding: 20px;
  resize: both;
  width: 50%;
  @include breakpoint(large) { width: 70%; }
  @include breakpoint(medium) { width: 80%; }
  @include breakpoint(small) { width: 95%; }
}

h1,
h2 {
  font-family: $font-headings;
}

button,
input,
p {
  font-family: $font-body;
}
