@import url("https://fonts.googleapis.com/css?family=Bungee+Inline|Tenor+Sans");
html,
body {
  height: 100%;
  width: 100%; }

.jumbotron {
  height: 100%; }

.jumbotron-fluid {
  background: rgba(25, 84, 123, 0.9);
  background: -webkit-radial-gradient(ellipse farthest-corner at 45px 45px, rgba(255, 216, 155, 0.9) 40%, rgba(25, 84, 123, 0.9) 75%), url("./test.jpeg") no-repeat;
  background: radial-gradient(ellipse farthest-corner at 45px 45px, rgba(255, 216, 155, 0.9) 40%, rgba(25, 84, 123, 0.9) 75%), url("./test.jpeg") no-repeat;
  background-blend-mode: overlay, darken;
  background-size: cover;
  height: 100%;
  width: 100%; }

.wrapper {
  align-content: center;
  display: flex;
  justify-content: center; }
  @media (max-width: 64.375em) {
    .wrapper {
      width: 70%; } }
  @media (max-width: 64.375em) {
    .wrapper {
      width: 80%; } }
  @media (max-width: 64.375em) {
    .wrapper {
      width: 100%; } }

.content {
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  border-radius: 0.5em;
  background-clip: padding-box;
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  height: 100%;
  padding: .5em;
  width: 60%; }
  @media (max-width: 64.375em) {
    .content {
      width: 60%; } }
  @media (max-width: 64.375em) {
    .content {
      width: 80%; } }
  @media (max-width: 64.375em) {
    .content {
      width: 95%; } }
  .content h1 {
    font-family: "Bungee Inline", cursive;
    font-size: 350%;
    padding-bottom: .5em;
    padding-top: .5em;
    text-align: center; }
    @media (max-width: 64.375em) {
      .content h1 {
        font-size: 350%; } }
    @media (max-width: 64.375em) {
      .content h1 {
        font-size: 300%; } }
    @media (max-width: 64.375em) {
      .content h1 {
        font-size: 250%; } }
  .content h2 {
    color: #930007;
    font-family: "Bungee Inline", cursive;
    padding-bottom: .7em;
    padding-top: .7em;
    text-align: justify; }
    @media (max-width: 64.375em) {
      .content h2 {
        font-size: 200%; } }
    @media (max-width: 64.375em) {
      .content h2 {
        font-size: 175%; } }
    @media (max-width: 64.375em) {
      .content h2 {
        font-size: 150%; } }
  .content p {
    color: #000;
    font-family: "Bungee Inline", cursive;
    padding-bottom: .7em;
    padding-top: .7em;
    text-align: justify; }
    @media (max-width: 64.375em) {
      .content p {
        font-size: 120%; } }
    @media (max-width: 64.375em) {
      .content p {
        font-size: 100%; } }
    @media (max-width: 64.375em) {
      .content p {
        font-size: 80%; } }
  .content form {
    font-family: "Tenor Sans", sans-serif;
    text-align: center; }
    @media (max-width: 64.375em) {
      .content form {
        font-size: 120%; } }
    @media (max-width: 64.375em) {
      .content form {
        font-size: 110%; } }
    @media (max-width: 64.375em) {
      .content form {
        font-size: 100%; } }
    .content form button {
      background-color: #000;
      border-color: #000; }
      @media (max-width: 64.375em) {
        .content form button {
          width: 20%; } }
      @media (max-width: 64.375em) {
        .content form button {
          width: 30%; } }
      @media (max-width: 64.375em) {
        .content form button {
          font-size: 80%;
          width: 30%; } }
      .content form button:hover {
        background-color: #fff;
        border-color: #fff;
        color: #000; }
    .content form input {
      display: inline-block;
      text-align: left;
      width: 60%; }
      @media (max-width: 64.375em) {
        .content form input {
          width: 60%; } }
      @media (max-width: 64.375em) {
        .content form input {
          width: 67%; } }
      @media (max-width: 64.375em) {
        .content form input {
          font-size: 80%;
          width: 67%; } }
  .content .hashtag {
    padding-bottom: .7em;
    padding-top: .7em;
    text-align: center; }

.social-media {
  padding-bottom: .7em;
  padding-top: .7em;
  text-align: center; }
  .social-media i {
    color: #19547b; }
    .social-media i:hover {
      color: #000; }
  .social-media .fa-4x {
    padding-left: .5em; }
    @media (max-width: 64.375em) {
      .social-media .fa-4x {
        font-size: 4em; } }
    @media (max-width: 64.375em) {
      .social-media .fa-4x {
        font-size: 3.5em; } }
    @media (max-width: 64.375em) {
      .social-media .fa-4x {
        font-size: 2.5em; } }

/*# sourceMappingURL=style.css.map */
